// Base

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

$primary_color: #26BAA4;
$gray_dark: #4C545D;
$gray_light: #9FABB2;
$gray_light2: #FAFAFA;
$primary_font: "Bai Jamjuree", sans-serif;
 
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
 
html {
    font-size: 62.5%;
}
 
body {
    box-sizing: border-box;
    font-size: 1.8rem;
    font-family: $primary_font;
}

.header {
    height: 36rem;
    background-image: url('images/bg-header-desktop.png');
    background-size: cover;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));    
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;

    &__left {
        align-self: center;
        justify-self: center;
    }

    &__right {
        position: relative;
        bottom: -2rem;
        z-index: 0;
        justify-self: center;
    }

    &__heading {
        color: $gray_dark;
        font-size: 3.6rem;
        font-weight: 400;
        margin-bottom: .5rem;
        width: 40rem;
    }

    &__subtitle {
        color: $gray_light;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
}

.desktop,
.mobile {    
    padding: 20rem 0;    

    &__picture {
        width: 40rem;
    }    

    &__heading {
        font-size: 2.6rem;
        color: $primary_color;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    &__paragraph {
        color: $gray_dark;
        line-height: 4rem;
    }
    
    .container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;    
        padding: 0 2rem;    
    }
}

.desktop {
    position: relative;
    background-color: $gray_light2;

    &__left {
        justify-self: center;
    }

    &__right {
        align-self: center;
    }
}

.mobile {

    &__left {
        align-self: center;
    }

    &__right {
        justify-self: center;
    }
}

// Components

.btn {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1.5rem 3.5rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s;

    &:hover {
        transform: scale(1.03);
    }

    &--primary {
        background-color: $primary_color;
        color: #FFF;

        &:active {
            background-color: lighten($primary_color, 3%);
        }
    }
}

// Utilities

.container {
    max-width: 144rem;
    margin: 0 auto;
}