@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  font-family: "Bai Jamjuree", sans-serif;
}

.header {
  height: 36rem;
  background-image: url("images/bg-header-desktop.png");
  background-size: cover;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.hero__left {
  align-self: center;
  justify-self: center;
}
.hero__right {
  position: relative;
  bottom: -2rem;
  z-index: 0;
  justify-self: center;
}
.hero__heading {
  color: #4C545D;
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  width: 40rem;
}
.hero__subtitle {
  color: #9FABB2;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.desktop {
  position: relative;
  background-color: #FAFAFA;
  padding: 20rem 0;
}
.desktop__left {
  justify-self: center;
}
.desktop__right {
  align-self: center;
}
.desktop__heading {
  font-size: 2.6rem;
  color: #26BAA4;
  font-weight: 600;
  margin-bottom: 2rem;
}
.desktop__paragraph {
  color: #4C545D;
  line-height: 4rem;
}
.desktop__picture {
  width: 40rem;
}
.desktop .container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  padding: 0 2rem;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1.5rem 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}
.btn:hover {
  transform: scale(1.03);
}
.btn--primary {
  background-color: #26BAA4;
  color: #FFF;
}
.btn--primary:active {
  background-color: #29c7af;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}
