// Base

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

$primary_color: #26BAA4;
$gray_dark: #4C545D;
$gray_light: #9FABB2;
$gray_light2: #FAFAFA;
$primary_font: "Bai Jamjuree", sans-serif;
 
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
 
html {
    font-size: 62.5%;
}
 
body {
    box-sizing: border-box;
    font-size: 1.8rem;
    font-family: $primary_font;
}

.header {
    height: 36rem;
    background-image: url('images/bg-header-desktop.png');
    background-size: cover;

    @media (max-width: 66.5em) {
        height: auto;
    }
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));    
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100%;

    @media (max-width: 66.5em) {
        grid-template-columns: 1fr;
    }

    &__left {
        align-self: flex-end;
        justify-self: center;
        padding-bottom: 5rem;

        @media (max-width: 66.5em) {
            text-align: center;
            padding-bottom: 0;
            padding-top: 5rem;
        }
    }

    &__right {
        position: relative;
        bottom: -2.5rem;
        z-index: 0;
        justify-self: center;
        align-self: flex-end;
    }

    &__picture {
        width: 100%;

        @media (max-width: 40em) {
            display: none;
        }
    }

    &__picture-mobile {
        display: none;

        @media (max-width: 40em) {
            display: block;
        }
    }

    &__heading {
        color: $gray_dark;
        font-size: 3.6rem;
        font-weight: 400;
        margin-bottom: .5rem;
        max-width: 40rem;
    }

    &__subtitle {
        color: $gray_light;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
}

.desktop,
.mobile,
.features,
.companies,
.download {
    padding: 20rem 0; 
    
    @media (max-width: 66.5em) {
        padding: 10rem 0;
    }
}

.desktop,
.mobile {      
    &__picture {
        width: 40rem;

        @media (max-width: 40em) {
            width: 100%;
        }
    }    

    &__heading {
        font-size: 2.6rem;
        color: $primary_color;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    &__paragraph {
        color: $gray_dark;
        line-height: 4rem;
    }
    
    .container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;    

        @media (max-width: 66.5em) {
            grid-template-columns: 1fr;
        }
    }
}

.desktop,
.features {
    background-color: $gray_light2;
}

.desktop {
    position: relative;

    &__left {
        justify-self: center;
    }

    &__right {
        align-self: center;

        @media (max-width: 66.5em) {
            text-align: center;
        }
    }
}

.mobile {

    &__left {
        align-self: center;

        @media (max-width: 66.5em) {
            text-align: center;
        }
    }

    &__right {
        justify-self: center;

        @media (max-width: 66.5em) {
            order: -1;
        }
    }
}

.features {
    .container {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 4rem;

        @media (max-width: 66.5em) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        text-align: center;
    }

    &__icon {
        height: 4rem;
        margin-bottom: 2rem;
        
        svg {
            fill: $gray_dark;
        }
    }

    &__paragraph {
        color: $gray_light;
        line-height: 4rem;
    }
}

.companies {
    &__title {
        color: $primary_color;
        font-size: 2.6rem;
        text-align: center;
        margin-bottom: 10rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 4rem;
        justify-items: center;

        @media (max-width: 66.5em) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (max-width: 40em) {
            grid-template-columns: 1fr;
        }
    }
}

.download {
    background-color: $primary_color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

    &__title {
        margin-bottom: 5rem;
        color: #FFF;
        font-size: 3.4rem;
        width: 40%;

        @media (max-width: 66.5em) {
            width: 100%;
        }
    }
}

.footer {
    padding: 10rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 40em) {
            flex-direction: column;
        }
    }

    &__social-network {

        @media (max-width: 40em) {
           order: -1;
           margin-bottom: 5rem;
        }

        a {
            text-decoration: none;
            &:not(:last-child) {
                margin-right: 5rem;
            }
        }

        img {
            width: 48px;
            height: auto;
        }
    }
}

// Components

.btn {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1.5rem 3.5rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s;

    &:hover {
        transform: scale(1.03);
    }

    &--primary {
        background-color: $primary_color;
        color: #FFF;

        &:active {
            background-color: lighten($primary_color, 3%);
        }
    }

    &--white {
        background-color: #FFF;
        color: $primary_color;

        &:active {
            transform: translateY(5px);
        }
    }
}

// Utilities

.container {
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 0 2rem;    
}